@model IEnumerable<Hotel9.Models.Room>

@{
    ViewData["Title"] = "AvailableRooms";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
             <td>  <a asp-action="Book" asp-route-id="@item.Id">Book</a> </td>
        </tr>
}
        <tr>
            <td>RoomCount: </td>
            <td> @Model.Count() </td>
        </tr>
    </tbody>
</table>
